<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangyonggan.tradingEngine.mapper.TradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kangyonggan.tradingEngine.entity.Trade">
        <id column="id" property="id" />
        <result column="taker_order_id" property="takerOrderId" />
        <result column="maker_order_id" property="makerOrderId" />
        <result column="symbol" property="symbol" />
        <result column="price" property="price" />
        <result column="quantity" property="quantity" />
        <result column="taker_fee" property="takerFee" />
        <result column="maker_fee" property="makerFee" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
