<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangyonggan.tradingEngine.mapper.UserAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kangyonggan.tradingEngine.entity.UserAccount">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="account_type" property="accountType" />
        <result column="currency" property="currency" />
        <result column="total_amount" property="totalAmount" />
        <result column="frozen_amount" property="frozenAmount" />
        <result column="enable" property="enable" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="selectAccount" resultType="com.kangyonggan.tradingEngine.dto.res.AccountRes">
        SELECT
            a.id,
            a.uid,
            a.account_type AS accountType,
            a.currency,
            a.total_amount AS totalAmount,
            a.frozen_amount AS frozenAmount,
            a.enable,
            a.create_time AS createTime,
            a.update_time AS updateTime
        FROM user_account a
        LEFT JOIN symbol_config b
        ON b.symbol = CONCAT(a.currency, 'USDT')
        WHERE a.uid = #{uid}
        ORDER BY b.sort
    </select>

</mapper>
