<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangyonggan.tradingEngine.mapper.UserAccountLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kangyonggan.tradingEngine.entity.UserAccountLog">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="order_no" property="orderNo" />
        <result column="account_type" property="accountType" />
        <result column="currency" property="currency" />
        <result column="type" property="type" />
        <result column="amount" property="amount" />
        <result column="enable" property="enable" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
